/* body{
margin: 0px;
padding: 0px;
font-family: Arial;                                  
}

#toto{
    background-color: yellowgreen;
    border: 3px solid pink;
}
.logo{
    width: 250px;
    height: 90px;
    float: left;
}
.banner{
    width: 300px;
    height: 90px;
    float: left;
}

.nav-w{
    height: 90px;
    width: 320px;
    float: right;

}

#Top-nav{
    background-color: bisque;
    width: 100%;
    height: 90px;
}

ul{
    list-style-type: none;
}

.nav-btn{
    padding: 5px;
    background-color: #3ED963;
    float: left;
    margin-left: 10px;
    border-bottom: 2px solid #176313;
}

a{
    text-decoration: none; color: white;
} */

td, tr, th{
    padding: 10px;
}